:root {
	--gris: #333;
}


/*================================================================*/
/*=========================  NAV  =========================*/
/*================================================================*/



#boton {
	display: none;
}

.main-head {
	background: var(--gris);
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.logo h1 {
	color: #fff;
	font-family: 'Roboto';
	font-weight: 700;
	margin-left: 7px;
}

.lista .icon-menu {
	display: block;
	width: 35px;
	height: 35px;
	font-size: 35px;
	color: #fff;
	cursor: pointer;
	margin-top: 20px;
	margin-right: 18px;
}

.lista .menu {
	position: absolute;
	margin-top: -200%;
	left: 0;
	background: rgba(0,0,0,0.8);
	width: 100%;
	list-style: none;
	height: 100%;
	transition: 0.6s all ease;
	z-index: 1000;
}

.lista .menu .menu_link {
	display: block;
	padding: 25px 10px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	font-family: 'Open Sans';
}

.lista .menu .menu_link:hover {
	background: rgba(0,0,0,0.8);
}

#boton:checked ~ .navegacion .menu {
	margin-top: 26px;
}


/*================================================================*/
/*========================  BANNER  ========================*/
/*================================================================*/


.main-ppl .banner {
	position: relative;
}

.main-ppl .banner:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	z-index: 100;
}

.main-ppl .banner img {
	width: 100%;
	height: 563px;
	object-fit: cover;
	position: relative;
	z-index: 50;
}

.title-ppl {
	position: absolute;
	width: 90%;
	color: #fff;
	z-index: 500;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-family: 'Roboto';
	font-weight: normal;
}

.title-ppl p {
	margin-top: 30px;
	margin-bottom: 50px;
}

.title-ppl a {
	border: 3px solid #fff;
	padding: 7px;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.title-ppl a:hover {
	background: rgba(0,0,0,0.7);
}


/*================================================================*/
/*======================  Bienvenidos  ======================*/
/*================================================================*/

.main-ppl .bienvenidos h2 {
	text-align: center;
	font-family: 'Roboto';
	font-weight: 700;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 28px;
}

.main-ppl .bienvenidos p {
	text-align: center;
	font-family: 'Open Sans';
	margin-bottom: 15px;
}

.bienvenidos .bienvenidos-imagenes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.bienvenidos .imagen {
	margin: 15px;
}

.bienvenidos .imagen img {
	width: 100%;
	max-width: 310px;
	border-radius: 8px;
	height: 250px;
}


/*================================================================*/
/*========================  Radios  ========================*/
/*================================================================*/


.main-ppl .radios {
	background: var(--gris);
}

.radios p {
	color: #fff;
	padding: 20px 15px;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 19px;
}

.radios .radios-imagenes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.radios-imagenes .radio-imagen {
	margin: 15px;
}

.radios-imagenes .radio-imagen img {
	width: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 50%;
	border: 8px solid #fff;
}


/*================================================================*/
/*========================  Footer  ========================*/
/*================================================================*/



footer {
	background: #e6e6e6;
	display: flex;
	justify-content: space-between;
	padding: 30px 20px;
}

footer p {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 18px;
}

.social span {
	font-size: 18px;
	margin: 0 5px;
	cursor: pointer;
}

.icon-face{color: #3b5998;}
.icon-twii{color: #00acee;}
.icon-insta{color: #3f729b;}
.icon-pinte{color: #c8232c;}
.icon-email{color: gray;}


/*================================================================*/
/*=====================  Media Querys ======================*/
/*================================================================*/


@media screen and (min-width: 1024px) {
	footer p {
		margin-left: 180px;
	}

	footer .social {
		margin-right: 180px;
	}
}

@media screen and (min-width: 800px) {
	.lista .icon-menu {
		display: none;
	}

	.lista .menu {
		margin: 0;
		display: flex;
		background: transparent;
		justify-content: flex-end;
		line-height: 31px;
	}

	.logo h1 {
		padding-left: 130px;
	}

	.lista .menu {
		padding-right: 130px;
	}
}